#sub{width:1280px;  height:auto; margin:0 auto;}
.product{ width:50%; float:left;text-align:center; }
.product img{width: 400px;}
.product>img:not(:first-of-type){display:none;}
.product ul{display:flex; justify-content:space-evenly;padding:0 120px;}
.product ul li img{width:100px; height:100%;}
.info{width:50%; float:right; padding:20px;}
.info h4 .orga_icon{ float:left; width:24px; height:24px; padding:2px; border-radius:50%; background:#aa8153 url(../img/orga-filled.svg) no-repeat 50% / 14px 14px;}
.info h4 span{padding-left:10px;}
.info h2{font-size:33px; margin:1% 0;}
.info h3{color:rgb(43, 42, 42); margin:1% 0;}
.info p{font-size:30px; padding:5px;}
 
.info table{width:400px; border-top:3px solid #e9e9e9; border-bottom:2px solid #e9e9e9; font-family:"맑은 고딕"; position:absolute;}
.info td{padding:6px 13px;}
.info td:first-child{width:100px;}
#green{display:flex; width:100px; height:auto;}
#green img{width:50%;}

button{cursor:pointer; border-radius:5px; padding:8px 16px; border:none; font-size: 20px; font-weight:bold;}
button:first-child{background-color:beige;} 
button:nth-child(2){background-color:bisque;}
section:nth-of-type(2){clear:both;}

#section1{height:550px;}

.sub_nav{width:1100px; display:flex; font-size:18px; color:#333; justify-content:space-around; align-items:center; background-color:#eee; margin:20px auto; border-radius:5px;}
.sub_nav li{width:20%; height:70px; line-height:70px; text-align:center;}
.sub_nav li:hover{background-color:hsl(0, 0%, 20%); color:white;}


#detail{width:1100px; margin:0 auto; border-top:1px solid #ddd; text-align:center;}
#detail img{margin:30px;}
#detail h2, h3{font-size:22px; margin:10px;}
#detail h1{font-size:30px; margin:10px 0 25px;}
#detail p{margin:10px 0 20px;}
#detail span{font-weight:bold; font-size:20px; color:brown;}
#detail h4{font-size:19px;}

#detail2{width:1100px; margin:0 auto; display:block; border-top:1px solid #ddd;}
#detail2>h4{text-align:left; margin:30px 0 0 0px; font-size:35px;}
#detail2>span{display:inline-block; font-size: 15px; margin:5px 0 0 0px; text-align:right; width:100%;}
#detail2>table{display:block; margin:10px 0; line-height:30px; }
#detail2>table th{font-size:14px; text-align:left; width:320px; background-color:#ddd; padding:0 0 0 20px;}
#detail2>table td{font-size:14px; text-align:left; width:780px; background-color:#eee; padding:0 0 0 20px; color:#333; }

#review{width:1100px; height:400px; margin:50px auto 0; font-size:15px;}
#review table{display:inline-block; border-top:1px solid #333; line-height:40px;  }
#review table th{width:100px; border-bottom:1px solid #eee;}
#review table td:first-of-type{width:1000px; border-bottom:1px solid #eee; }
#review table td:nth-of-type(2){width:150px; text-align:center; border-bottom:1px solid #eee; }
#review table td:nth-of-type(3){width:150px; text-align:center; border-bottom:1px solid #eee ;}
#review button{float:right; margin:25px 50px;width:160px; height:40px; color:darkcyan; }
#review button:hover{cursor:pointer;}

#inquiry{width:1100px; height:400px; margin:50px auto 0; font-size:15px; }
#inquiry table{line-height:40px; border-top:1px solid #333; display:inline-block;}
#inquiry table th{width:80px; border-bottom:1px solid #eee; color:#333;  }
#inquiry table td:first-of-type{width:650px; border-bottom:1px solid #eee;}
#inquiry table td:first-of-type>a{color:#333;}
#inquiry table td:nth-of-type(2){width:100px; border-bottom:1px solid #eee; text-align:center;}
#inquiry table td:nth-of-type(3){width:120px; border-bottom:1px solid #eee; text-align:center;}
#inquiry table td:last-of-type{width:100px; text-align:center; border-bottom:1px solid #eee;}
#inquiry button{float:right; margin:25px 50px;width:160px; height:40px; color:darkcyan; }
#inquiry button:hover{cursor:pointer;}

#shipping{width:1100px;  margin:50px auto;}
#shipping h4 {font-size:35px; margin:10px 0;}
#shipping hr{margin: 20px 0 ;}
#shipping_textbox3{display:block; width:1100px; height:280px; }
